.example-card {
  max-width: 150px;
  background-color: lightblue;
}

.inline {
  display: flex;
}

center {
  align-content: center;
}

.example-header-image {
  background-size: cover;
}

html{
  background-color: gray;
}

.img{
  max-width: 200px;
}
